*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  background: #2F303A;
} */


.wrapper{
  display: flex;
  justify-content: space-around;

}
.map{
  width: 70vw;
  height: 85vh;
  background: red;
  color: white;
}

.reviews{
  width: 28vw;
  height: 85vh;
  background: blue;
/* margin-left: 1rem; */
  color: white;
}

/*
 Small device 
 */

 @media all and (max-width: 426px){
  .wrapper{
    display: block;
  }
  .map{
    width: 100vw;
    height: 85vh;
    background: red;
    color: white;
  }
  
  .reviews{
    width: 100vw;
    height: 85vh;
    background: blue;
  /* margin-left: 1rem; */
    color: white;
  }
}